@keyframes animSlide {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  34% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  46% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  58% {
    left: -400%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  72% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  84% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  96% {
    left: -0%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#2F8BCB, #0E1D61);
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  background-color: rgba(187, 187, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
  /* opacity: 0.5; */
  transition: background-color 0.5s ease-in-out;
}

a:hover {
  background-color: rgba(187, 187, 255, 1);
  transition: background-color 0.5s ease-in-out;
  background-color: rgba(187, 187, 255, 1);
  /* opacity: 1; */
}

h3 {
  margin-bottom: 10px;
}

body > div {
  margin: 60px;
}

#login {
  float: right;
  margin-top: 20px;
}

#login input {
  margin: 5px;
}

#login input[type="submit"] {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

#img_slide {
  overflow: hidden;
  height: 350px;
}

#img_slide figure div {
  width: 20%;
  float: left;
}

#img_slide figure img {
  width: 100%;
  float: left;
}

#img_slide figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s animSlide infinite;
}
